<p>Drag and drop any of the items within its container,
	or between the two containers.</p>
{{#ember-dragula config=model.dragulaoptions drag='dragulaEvent' drop='dragulaEvent' }}
	<h3>Container 1</h3>
	{{#ember-dragula-container }}
		{{#tree-component data='Container 1 - 1st item (this is an Ember component)'}}
		{{/tree-component}}
		<div>
			Container 1 - 2nd item (the rest are all elements)
		</div>
		<div>
			Container 1 - 3rd item
		</div>
		<div>
			Container 1 - 4th item
		</div>
	{{/ember-dragula-container}}
	<h3>Container 2</h3>
	{{#ember-dragula-container created='created' parent=model.parent}}
		<div>
			Container 2 - 1st item
		</div>
		<div>
			Container 2 - 2nd item
		</div>
		<div>
			Container 2 - 3rd item
		</div>
		<div>
			Container 2 - 4th item
		</div>
	{{/ember-dragula-container}}
{{/ember-dragula}}
<h2>Copy Example</h2>
<p>Copy items from Source Container to Destination Container</p>
{{#ember-dragula config=model.copyoptions}}
	<h3>Source Container</h3>
	{{#ember-dragula-container class="souce-container"}}
		{{#tree-component data='1st copyable item (this is an Ember component)'}}
		{{/tree-component}}
		<div>
			Container 1 - 2nd copyable item (this is an element)
		</div>
	{{/ember-dragula-container}}
	<h3>Destination Container</h3>
	{{#ember-dragula-container class="target-container"}}
	{{/ember-dragula-container}}
{{/ember-dragula}}
